
* {
  box-sizing: border-box;
}


body {
  font-family:monospace;
  margin: 5;
}


.header {
  padding: 100px;
  text-align: center;
  background:#708090;
  color:cyan ;font-family:cursive;
  
}


.header h1 {
  font-size: 30px;
  font-family:Georgia, 'Times New Roman', Times, serif ;
}



.navbar {
  overflow:visible;
  background-color:silver;font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.navbar a {
  float:initial;
  display: block;
  color:lightslategray;
  text-align: center;
  padding: 14px 30px;
  text-decoration: none;
}



.navbar a:hover {font-size: 20px;
  background-color:teal ;
  color:tan;font-family:Times New Roman;
}


.row {  
  display: -ms-flexbox; 
  -ms-flex-wrap: wrap; 
  flex-wrap: wrap;
	color:grammar-error
  
}

.side {
  -ms-flex: 30%; 
  flex: 30%;
  background-color:linen; 
  padding: 20px;
}


.main {   
  -ms-flex: 60%;  
  flex: 50%;
  background-color:linen;
  padding: 20px;
	color: #696969
}



.footer {
  padding: 20px;
  text-align:center;
  background: silver;
  color:teal ;
  font-family:Georgia, 'Times New Roman', Times, serif ;
}



